.filterButtonsWrapper {
  position: relative;
  align-self: flex-start;
}

.selectedButtonsWrapper {
  position: absolute;
  z-index: 1000;
  right: 100%;
  top: 0;
  display: flex;

  @media screen and (max-width: 1279px) and (min-width: 960px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 959px) and (min-width: 768px) {
    right: 0;
    top: 100%;
  }
  @media screen and (max-width: 767px) {
    right: 0;
    top: 78px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }
}

.ulSelectedButtons {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5px;
}

.filterOptions {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selectedButton {
  width: 80px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 40px;
  stroke: #54adff;
  cursor: pointer;
  background-color: white;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  @media (min-width: 1023px) {
    margin-left: 4px;
  }
}
.selectedButton > span {
  color: #54adff;
  font-size: 12px;
  font-style: Bold;
}

.filterIcon {
  width: 16px;
  height: 17px;
  margin-left: 4px;
  padding-bottom: 8px;
}
