.list {
  font-family: 'Manrope';
  list-style: none;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 31px;
    align-items: stretch;
    margin-bottom: 60px;
  }
}
