.container {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 8px 25px 8px;
  text-align: center;
  background: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;
}

img {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.inputWrapper{
  position: relative;
}

.input {
  background-color: red;
}

.div {
  display: flex;
}

.btnPhoto {
  display: flex;
  align-items: center;
  // width: 24px;
  // height: 10px;

  cursor: pointer;
  background-color: transparent;
  color: #888888;
  border: none;

  & svg {
    width: 16px;
    height: 16px;
    padding-right: 16px;
    stroke: #54adff;
  }
}
