.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.35;
  margin-bottom: 18px;
}

.titleDark {
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 240px;
  max-width: 440px;
  margin-bottom: 40px;
  padding: 20px 8px 24px 8px;
  text-align: center;
  background: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;

  @media screen and (max-width: 480px) {
  }
}

.containerDark {
  background: transparent;
  border: 2px solid rgba(136, 198, 253, 0.19);
}

.avatarWrapper {
  margin-bottom: 21px;
}

.avatar {
  width: 182px;
  height: 182px;
  border-radius: 40px;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 264px;
}

.btnPhoto {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: #888888;
  border: none;

  & svg {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    stroke: #54adff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
    padding-right: 76px;
    max-width: 664px;
  }

  .avatarWrapper {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 390px;
    padding: 20px 24px 20px 16px;
  }
}
