.container {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 40px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;

  padding: 40px 12px;

  @media screen and (min-width: 768px) {
    width: 608px;
    padding: 60px 75px;
  }
}

.containerDark {
  background-color: #2b3e51;
}

.redirectLink {
  margin-top: 24px;
  color: #888888;

  font-family: 'Manrope';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
}

.navlink {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #54adff;
  text-decoration-line: underline;
}

.redirectLinkDark {
  color: #fef9f9;
}
