form {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  input {
    display: flex;
    align-items: center;
    position: relative;
    // background-color: red;
  }
  
  .togle {
    position: absolute;
    right: 5px;
  }