.inputWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  // background-color: red;
}

.form {
  display: flex;
  align-items: center;
  // margin-left: auto;
  // margin-right: auto;
  // background-color: red;
}

// input {
//   display: flex;
//   align-items: center;
//   position: relative;
// }

// label input {
//   display: flex;
//     align-items: center;

//   position: relative;
// }

.toggle {
  display: block;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 50%;
  // transform: translateY(-50%);
  margin-right: 10px;
  align-items: center;
  border: none;
}

// .button {
//   background-color: red;
// }
