// .form {
//   //   position: relative;
//   //   display: inline-block;
//   display: flex;
//   align-items: center;
//   margin-left: auto;
//   margin-right: auto;
// }

// .input {
//   display: flex;
//   align-items: center;
//     position: relative;
//     background-color: red;
// }

// label input {
//   display: flex;
//     align-items: center;

//   position: relative;
// }

.toggle {
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  // top: '50%';
  // transform: 'translateY(-50%)';
  margin-right: '10px';
  align-items: center;
}

// .button {
//   background-color: red;
// }


.inputWrapper {
  position: relative;
}
