.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.form {
  margin-bottom: 12px;
}

.label {
  min-width: 66px;
  text-align: start;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.04em;
  margin-right: 8px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  padding: 4px 12px;
  margin-left: auto;
  padding-right: 35px;
  
}



.toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  margin-right: 25px;
}
