.inputWrapper {
  position: relative;
}

.eyeIcon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 40%);
  cursor: pointer;

  &:hover {
    border-radius: 50%;
    scale: 1.2;
  }
}

.inputCustomSettings {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
