.noticePageContainer {
  margin: 0 auto;
  margin-bottom: 40px;
}

.title {
  padding-bottom: 10px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  text-align: center;
  color: #111;

  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 48px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 24px;
}

.wrapperRightButton {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

@media screen and (max-width: 767px) {
  .noticePageContainer {
    max-width: 440px;
  }
}

@media screen and (min-width: 768px) {
  .noticePageContainer {
    width: 704px;
    margin-bottom: 60px;
  }

  .wrapper {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .noticePageContainer {
    width: 1248px;
  }

  .wrapper {
    margin-bottom: 42px;
  }
}
