.noticePageContainer {
  margin: 0 auto;
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 24px;
}

.wrapperRightButton {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

@media screen and (max-width: 767px) {
  .noticePageContainer {
    max-width: 440px;
  }
}

@media screen and (min-width: 768px) {
  .noticePageContainer {
    width: 704px;
    margin-bottom: 60px;
  }

  .wrapper {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .noticePageContainer {
    width: 1248px;
  }

  .wrapper {
    margin-bottom: 42px;
  }
}
