.petsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.petsTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.35;
}

@media screen and (min-width: 768px) {
  .petsDataContainer {
    width: 703px;
  }
}

@media screen and (min-width: 1280px) {
  .petsDataContainer {
    width: 821px;
  }
}
