.title {
  font-weight: 500px;
  font-size: 36px;
  text-align: center;
  line-height: 49px;
  letter-spacing: 4%;
  margin-bottom: 52px;
}

.text {
  font-weight: 500px;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  letter-spacing: 4%;
  margin-bottom: 60px;
}

.button {
  display: flex;
  align-items: center;
  padding: 9px 54px 9px 54px;
  border-radius: 20px;
  color: white;
  fill: white;
  font-style: Bold;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  vertical-align: center;
  letter-spacing: 4%;
  background-color: #54adff;
  border: none;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.button:first-child {
  margin-right: 15px;
  background-color: #fff;
  border: 2px solid #54adff;
  color: #54adff;
}
