.btnLog {
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  background-color: transparent;
  color: #888888;
  border: none;

  & svg {
    width: 16px;
    height: 16px;
    padding-right: 16px;
    stroke: #54adff;
  }
}

.btnLogDark {
  color: #fff;
}
