.form {
  width: 100%;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.eyeIcon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 40%);
  cursor: pointer;

  &:hover {
    scale: 1.2;
  }
}

.inputCustomSettings {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.differentPassords {
  display: block;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 14px;
  margin-left: 16px;
  color: #f43f5e;
  font-size: 0.8rem;
}
