.inputWrapper {
  position: relative;
}

.eyeIcon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 40%);
}

.inputCustomSettings {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.differentPassords {
  margin-top: 4px;
  margin-bottom: 14px;
  margin-left: 16px;
  color: #f43f5e;
  font-size: 0.8rem;
}
